#calendar button {
    height: 30px;
    font-size: 15px;
    line-height: 15px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 1%, #eeeeee 100%);
    background: -webkit-linear-gradient(top,  #ffffff 1%,#eeeeee 100%);
    background: linear-gradient(to bottom,  #ffffff 1%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    bordeR: 1px solid lightgrey;
    color: dimgray;
    font-weight: bold;
}

#calendar button:hover {
    background: #cecece;
    background: -moz-linear-gradient(top,  #cecece 0%, #dedede 47%, #cecece 100%);
    background: -webkit-linear-gradient(top,  #cecece 0%,#dedede 47%,#cecece 100%);
    background: linear-gradient(to bottom,  #cecece 0%,#dedede 47%,#cecece 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cecece',GradientType=0 );
}

#calendar button:focus {
    box-shadow: none;
}

.error-class {
    border-color: crimson;
}

.error-class:focus {
    border-color: crimson;
    box-shadow: 0 0 0 0.2rem rgba(220, 20, 60, 0.3);
}

.modal {
    z-index: 1100;
}

#search_wrapper {
    position: relative;
}

#search_results ul {
    position: absolute;
    top: 100%;
    left: 50%;
    width: calc(100% - 10px);
    transform: translateX(-50%);
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.search_result {
    background-color: whitesmoke !important;
    font-size: small;
    border-bottom: 1px solid lightgrey !important;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.search_result:last-child {
    border: none !important;
}

.search_result:hover {
    cursor: pointer;
    background-color: lightgrey !important;
}

