#calendar button {
    height: 30px;
    font-size: 15px;
    line-height: 15px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 1%, #eeeeee 100%);
    background: -webkit-linear-gradient(top,  #ffffff 1%,#eeeeee 100%);
    background: linear-gradient(to bottom,  #ffffff 1%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    bordeR: 1px solid lightgrey;
    color: dimgray;
    font-weight: bold;
}

#calendar button:hover {
    background: #cecece;
    background: -moz-linear-gradient(top,  #cecece 0%, #dedede 47%, #cecece 100%);
    background: -webkit-linear-gradient(top,  #cecece 0%,#dedede 47%,#cecece 100%);
    background: linear-gradient(to bottom,  #cecece 0%,#dedede 47%,#cecece 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cecece',GradientType=0 );
}

#calendar button:focus {
    box-shadow: none;
}

.error-class {
    border-color: crimson;
}

.error-class:focus {
    border-color: crimson;
    box-shadow: 0 0 0 0.2rem rgba(220, 20, 60, 0.3);
}