/* .calendar_tables {
    height: 60vh;
    overflow-y: scroll;
    box-sizing: border-box;
}

.saat {
    height: 6vh;
    -webkit-box-shadow: inset 0px 0px 0px 1px #F2F2F2; 
    box-shadow: inset 0px 0px 0px 1px #F2F2F2;
    background-color: white;
    width: 100%;
    overflow-y: visible;
    position: relative;
    text-align: center !important;
    font-size: small;
}

.saat_const {
    height: 6vh;
    -webkit-box-shadow: inset 0px 0px 0px 1px #F2F2F2; 
    box-shadow: inset 0px 0px 0px 1px #F2F2F2;
    background-color: white;
    width: 100%;
    overflow-y: visible;
    position: relative;
    text-align: center !important;
    font-size: small;
}

.calendar_tables .gun .saat {
    cursor: pointer;
}

.gun {
    width: 100%;
}

.gun_const {
    width: 100%;
}

.randevu {
    position: absolute;
    width: 100%;
    height: calc(100% / 60 * 150);
    background-color: grey;
    top:0;
    left: 0;
    z-index: 5;
    margin-top: 1px;
} */

#calendar {
    font-size: small;
}

#calendar_title {
    height: 6vh;
    background-color: white;
    padding: 0;
}

#calendar_table {
    height: 60vh;
    background-color: white;
    overflow-y: scroll;
    padding: 0;
}

#calendar .row {
    margin: 0;
    width: 100%;
    height: 6vh;
}

#calendar .row .calendar_item{
    width: calc(100% / 8);
    height: 6vh;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(224,224,224,1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(224,224,224,1);
    box-shadow: inset 0px 0px 0px 1px rgba(224,224,224,1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.calendar_cell {
    cursor: pointer;
}

.h-10 {
    height: 10%;
}

.randevu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    opacity: 0.5;
}