body, html {
    overflow-x: hidden;
}

#calendar thead, #calendar tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: white;
}

#calendar tbody {
    display: block;
    overflow-y: scroll;
}

#calendar td {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    -webkit-box-shadow: inset 0px -1px 0px 0px lightgrey;
    -moz-box-shadow: inset 0px -1px 0px 0px lightgrey;
    box-shadow: inset 0px -1px 0px 0px lightgrey;
}

#calendar {
    font-size: 10px;
    text-align: center;
    width: 100%;
}

#calendar .calendar_clickable {
    cursor: pointer;
}

#calendar_nav #calendar_buttons button {
    width: 30px;
    height: 30px;
    line-height: 15px;
}

#calendar_nav i {
    font-size: 15px;
}

#calendar_nav #calendar_buttons {
    text-align: left;
}

#calendar_nav #calendar_heading {
    text-align: center;
    font-weight: bold;
}

#calendar_nav #calendar_today {
    text-align: right;
}

#calendar_nav {
    align-items: center;
}