#popups {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.popup_wrapper {
    height: 80px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin-top: 15px;
    overflow: hidden;
}

.popup_wrapper.visible {
    opacity: 1 !important;
    transition: all 300ms;
}

.popup_wrapper.invisible {
    opacity: 0 !important;
    transition: all 300ms;
}

.popup_icon {
    width: 80px;    
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.popup_body {
    width: calc(100% - 130px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;
    padding-left: 15px;
}

.popup_title {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

.popup_message {
    font-size: 12px;
    line-height: 16px;
}

.button_wrapper {
    width: 40px;
    height: 100%;
    padding-top: 5px;    
    text-align: center;
}

.popup_closer {
    width: 50%;
}

.popup_closer:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all 200ms;
    cursor: pointer;
}

.right_placeholder {
    width: 10px;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}